@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #2e2e2e;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  14% {
    transform: translateX(0);
  }
  28% {
    transform: translateX(-100%);
  }
  42% {
    transform: translateX(-100%);
  }
  56% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  84% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

@keyframes fade-1 {
  0% {
    z-index: 0;
  }
  25% {
    z-index: 10;
  }
  50% {
    z-index: 0;
  }
  75% {
    z-index: 0;
  }
  100% {
    z-index: 0;
  }
}

@keyframes fade-2 {
  0% {
    z-index: 0;
  }
  25% {
    z-index: 0;
  }
  50% {
    z-index: 10;
  }
  75% {
    z-index: 0;
  }
  100% {
    z-index: 0;
  }
}

@keyframes fade-3 {
  0% {
    z-index: 0;
  }
  25% {
    z-index: 0;
  }
  50% {
    z-index: 0;
  }
  75% {
    z-index: 10;
  }
  100% {
    z-index: 0;
  }
}

@keyframes fade-4 {
  0% {
    z-index: 0;
  }
  25% {
    z-index: 0;
  }
  50% {
    z-index: 0;
  }
  75% {
    z-index: 0;
  }
  100% {
    z-index: 10;
  }
}
